<div class="scanner-container">
    <div class="video-container">
      <video #video [class.hidden]="!isStarted" id="video"></video>
      
      <!-- Overlay with scanning frame -->

      @if (isStarted) {
        <div class="scan-region-highlight">
          <div class="scan-region-highlight-svg">
            <!-- Corner markers -->
            <svg class="corner-marker top-left" viewBox="0 0 24 24">
              <path d="M3,3 L3,9 L5,9 L5,5 L9,5 L9,3 L3,3" fill="#00FF00"/>
            </svg>
            <svg class="corner-marker top-right" viewBox="0 0 24 24">
              <path d="M21,3 L15,3 L15,5 L19,5 L19,9 L21,9 L21,3" fill="#00FF00"/>
            </svg>
            <svg class="corner-marker bottom-left" viewBox="0 0 24 24">
              <path d="M3,21 L9,21 L9,19 L5,19 L5,15 L3,15 L3,21" fill="#00FF00"/>
            </svg>
            <svg class="corner-marker bottom-right" viewBox="0 0 24 24">
              <path d="M21,21 L21,15 L19,15 L19,19 L15,19 L15,21 L21,21" fill="#00FF00"/>
            </svg>
          </div>
        </div>

      }


      <!-- Status messages -->
       @if(!isStarted) {
        <div class="scanner-message">
          Tap to start scanning
        </div>
       }
  

       @if (error) {
        <div class="scanner-message">
          {{ error }}
        </div>
       }
  
    </div>

    <!-- Controls -->
    <div class="controls">
      <button (click)="toggleScanner()" class="control-button">
        {{ isStarted ? 'Stop' : 'Start' }} Scanner
      </button>

      @if (hasMultipleCameras) {
        <button (click)="switchCamera()" class="control-button">
          Switch Camera
        </button>
      }
   
    </div>
  </div>