<section> 
    <app-gdg-logo />
    <div class="text-info">
        <h2>Login 🤙🏽</h2>
        <p>Enter details to continue!</p>
        
        <div class="mb-1 input--container">
            <label>Email Address</label>
            <input type="email" placeholder="eg seneatorofthenbu@gmail.com" class="form--input"/>
        </div>

        <div class="input--container">
            <label>Password</label>
            <input type="password" placeholder="Enter password" class="form--input"/>
        </div>
    </div>
    <div class="app-bottom">
        <button class="btn--primary--dark">Continue</button>
    </div>
</section>