@if (isOpen) {
    <div class="modal-overlay" (click)="onClose()">
      <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="confetti-container">
          @for (item of confettiItems; track $index) {
            <div 
              class="confetti" 
              [style.left]="item.left + '%'"
              [style.animation-delay]="item.delay + 'ms'"
              [style.background-color]="item.color"
            ></div>
          }
        </div>
        
        <div class="modal-content">
          <div class="emoji-container">
            <span class="emoji">🥳</span>
          </div>
          <h2>Check In Complete</h2>
          
          <div class="attendee-card">
            <div class="initials">{{ attendee?.initials }}</div>
            <div class="attendee-info">
              <h3>{{ attendee?.fullName }}</h3>
              <div class="ticket-details">
                <div class="ticket-type">
                  <app-ticket />
                  <span>Type: {{ attendee?.ticketType }}</span>
                </div>
                <div class="ticket-id">
                  <app-ticket />
                  <span>ID: {{ attendee?.ticket }}</span>
                </div>
              </div>
            </div>
          </div>
          
          <button class="home-btn" (click)="onClose()">
            Go back home
          </button>
        </div>
      </div>
    </div>

}