* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }





  .btn--primary--dark {
  max-width: 100%;
    width: 260px;
    padding: 24px 72px 24px 72px;
    border-radius: 80px;
    opacity: 0px;
    outline: none;
    border: none;
    background-color: #0A0A0A;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    color: white;
    cursor: pointer;
  }

.input--container {
  display: flex;
  flex-direction: column;
}

  .form--input {
    width: 340px;
    padding: 16px;
    border-radius: 16px;
    border: 1.4px solid #E3E3E3;
    opacity: 0px;
    background: #FFF6E0;
    outline: none;
    margin-top: 5px;
    font-family: General Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

  }

  .mb-1 {
    margin-bottom: 1rem;
  }

  .mt-1 {
    margin-top: 1rem;
  }