
@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../src/assets/fonts/GeneralSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

:root {
  --font-family: 'GeneralSans', system-ui, -apple-system, 
    'Segoe UI','Open Sans', 
    'Helvetica Neue', sans-serif;
}


body {
  font-family: var(--font-family), system-ui, -apple-system, 
    'Segoe UI', 'Open Sans', 
    'Helvetica Neue', sans-serif;
  font-weight: 400; 
  height: 100%;
  background-color: #FFF6E0;
  padding: 1rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .btn--primary--dark {
    width: 200px;
    padding: 24px 72px 24px 72px;
    border-radius: 80px;
    opacity: 0px;
    outline: none;
    border: none;
    background-color: #0A0A0A;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    color: white;
    cursor: pointer;
  }

.input--container {
  display: flex;
  flex-direction: column;
}

  .form--input {
   width: 300px;
    padding: 16px;
    border-radius: 16px;
    border: 1.4px solid #E3E3E3;
    opacity: 0px;
    background: #FFF6E0;
    outline: none;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

  }

  .mb-1 {
    margin-bottom: 1rem;
  }

  .mt-1 {
    margin-top: 1rem;
  }

  .error-message {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: red !important;
    margin-top: 10px;
}